<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/login.css" th:href="@{css/login.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/login.js"></script>
<script src="js/test.js"></script>
<script src="js/Etrace.js"></script>
<style>
        body {
            background: url(images/NetworkHome.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
            }

        html, body
        {
             height: 100%;
             width: 100%;
        }
     </style>

<head>
    <title>Pariwar</title>
</head>

<body class="bodyclass" onload="checkIfAlreadyLoggedIn()">

<div style=" width : 100%; height: 20%;"></div>
<div style="width: 100%; height: 10%;">
    <solid><h1 style="color: white; font-size:48px;"><center>Pariwar</center></h1></solid>
</div>

<div style=" width : 100%; margin-top: 5%;">
    <button style="width: 20%; margin-left: 25%;" onclick="document.getElementById('login').style.display='block'" ><h3 style="font-size:18px;">Login&nbsp;&nbsp;<i class="fa fa-sign-in" style="font-size:18px;"></i></h3></button>
    <button style="width: 20%; margin-left: 10%;"  onclick="document.getElementById('register').style.display='block'"><h3 style="font-size:18px;">Register&nbsp;&nbsp;<i class="fa fa-pencil-square-o" style="font-size:18px;"></i></h3></button>
</div>
<div style=" width : 100%; margin-top: 5%;">
    <button style="width: 50%; margin-left: 25%;" onclick="document.getElementById('search').style.display='block'"><h3 style="font-size:18px;">Search&nbsp;&nbsp;<i class="fa fa-search" style="font-size:18px;"></i></h3></button>
</div>

<div id="login" class="modal">
    <div class="modal-content-login animate" id="modal_content_login">
        <div class="imgcontainer">
            <span  class="close" onclick="document.getElementById('login').style.display='none'" title="Close Modal">&times;</span>
            <img style="width: 10%;" src="images/logo1.png" alt="User" class="avatar">
        </div>
        <div class="container">
            <label><b>Username or Phone</b></label>
            <input type="text" placeholder="Enter Username or Phone number" id="login_username" name="login_username" required><div id="login_username_valid"></div>
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="login_password" name="login_password" required><div id="login_password_valid"></div>
            <button onclick="check_login_user()">Login</button>
            <div id="login_loading" style="z-index: 1000;  width: 30%; height: 10%; margin-left: 45%; "></div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('login').style.display='none'"  class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
</div>

<div id="register" class="modalRegister">
    <div class="modal-content-register animate">
        <div class="imgcontainer" style="position:sticky;">
            <span class="close" onclick="document.getElementById('register').style.display='none'" title="Close Modal">&times;</span>
            <img style="width: 5%;" src="images/logo1.png" alt="Register" class="avatar">
        </div>
        <button type="button" onclick="ToppleTheRegisterDiv('1', 'Personal Details')" class="Registercollapsible"><div id="RegisterDevButtonIcon1"><i class="fa fa-minus" style="font-size:20px;color:white; vertical-align: middle;">      Personal Details</i></div></button>
        <div class="RegistercontentDev1" id="RegisterDevId1">
            <div style="left: 0; top: 0; width: 50%; float: left;">
                <div>
                    <label id="valid_register_username"><b>Username *</b></label>
                    <input type="text" placeholder="Username / Email / Phone" onchange="validateRegisterUsername()" id="register_username" name="0  " style="border-top: 0px; border-left: 0px; border-right: 0px;"  required  >
                </div>
                <div>
                    <label id="valid_register_password"><b>Password *</b></label>
                    <input type="password" onchange="validateRegisterPassword()" placeholder="Enter Password" id="register_password"  required style="border-top: 0px; border-left: 0px; border-right: 0px;"  name="0">
                </div>
                <div>
                    <label><b>First Name *</b></label>
                    <input type="text" placeholder="First Name" id="register_firstname" name="register_firstname"  required  style="border-top: 0px; border-left: 0px; border-right: 0px;" ><div id="valid_register_firstname"></div>
                </div>
                <div>
                    <label><b>Last Name</b></label>
                    <input type="text" placeholder="Last Name" id="register_lastname" name="register_lastname"  required style="border-top: 0px; border-left: 0px; border-right: 0px;"  ><div id="valid_register_lastname"></div>
                </div>
            </div>
            <div style="left: 50%; top: 0; width: 25%; float: left; padding: 0 18px 0 18px">
                <div>
                    <button type="button" onclick="checkUsernameAvailable()"  class="cancelbtn" style="background-color:#99ceff;  min-width: 100px; margin-top:28px; width:90%; color : black; font-size:16px;">Check Availability</button>
                </div>
                <div>
                    <div style="margin-top:5px;">
                        <label id="valid_register_verify_password"><b>Re-Enter Password *</b></label>
                    </div>
                    <div>
                        <input type="password" onchange="validatePasswordToReEntred()" placeholder="Re-Enter Password" id="register_verify_password"  style="border-top: 0px; border-left: 0px; border-right: 0px; min-width: 100px; width:90%;"  name="register_verify_password">
                    </div>
                </div>
                <div>
                    <div>
                        <label id="valid_register_gender"><b>Gender</b></label>
                    </div>
                    <div>
                        <select id="register_gender" name="-1" value="1" onchange="validateRegisterGender()" class="button" style=" min-width: 100px; margin-top:6px; font-size:12px; vertical-align: middle; width:90%; height:38px; border-radius: 0px;">
                            <option value="0">Select Gender :</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div style="margin-top:12px;">
                        <label id="valid_register_dateOfBirth"><b>Date of Birth</b></label>
                    </div>
                    <div>
                        <input type="date" onchange="validateRegisterDate()" id="register_dateOfBirth" name="0" value="1995-07-03" style="border-top: 0px; border-left: 0px; border-right: 0px; padding: 10px; border: 1px solid #d4d4d4; min-width: 100px; margin-top:6px; font-size:16px; vertical-align: middle; width:80%; height:34px; border-radius: 0px;">
                    </div>
                </div>
            </div>
            <div style="left: 75%; top: 0; width: 20%; float: left;  border-color: #666666; border-width:50px; color:red;">
                <div style="margin-top:28px;">
                    <img style="height:auto; width:94%; border-color: #666666; " border="5" src="images/Camera.jpg" alt="Cinque Terre" name="registerProflePic" id="registerProflePic">
                    <!-- <input type="file" onchange="uploadAndShowImage(event,'registerProflePic')" accept="image/gif, image/jpeg, image/png" value="Upload Image" name="image" id="Profle"> -->
                    <progress id="registerImageProgressBar" value="40" max="100" style="width:100%; display:none;"></progress>
                    <button style="display:block;width:100%; font-size:12px;" onclick="document.getElementById('getProfileImage').click()">Upload Image</button>
                    <input type="file" onchange="uploadAndShowImage(event,'registerProflePic', 'getProfileImage')" accept="image/gif, image/jpeg, image/png" value="None" name="image" id="getProfileImage" style="display:none;">
                </div>
            </div>
        </div>
        <button type="button" onclick="ToppleTheRegisterDiv('2', 'Contact Details')" class="Registercollapsible"><div id="RegisterDevButtonIcon2"><i class="fa fa-plus" style="font-size:20px;color:white;vertical-align: middle; ">      Contact Details</i></div></button>
        <div class="Registercontent" id="RegisterDevId2">
            <div style="column-count: 2; ">
                <div>
                    <label id="valid_register_email"><b>Email Address</b></label>
                    <input type="text" placeholder="Email" onchange="validateRegisterEmail()" id="register_email" name="-1" style="border-top: 0px; border-left: 0px; border-right: 0px;"  required  >
                </div>
                <div>
                    <div>
                        <label id="valid_register_phone"><b>Phone Number</b></label>
                    </div>
                    <div>
                        <input type="text" placeholder="Phone Number" onchange="validateRegisterPhone()" id="register_phone" name="-1" style=" border-top: 0px; border-left: 0px; border-right: 0px; min-width: 160px; width:50%;" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" onclick="ToppleTheRegisterDiv('3', 'Religious Details')" class="Registercollapsible"><div id="RegisterDevButtonIcon3"><i class="fa fa-plus" style="font-size:20px;color:white;vertical-align: middle; ">      Religious Details</i></div></button>
        <div class="Registercontent" id="RegisterDevId3">
            <div style="column-count: 3; ">
                <div>
                    <label id="valid_register_Religion"><b>Religion</b></label>
                    <input type="text" onmousedown="autoSuggestRegisterReligion()" onchange="resetReligionLowerDetailsIfChanged(2)" placeholder="Religion" id="register_Religion" name="0" style="border-top: 0px; border-left: 0px; border-right: 0px;" required  >
                </div>
                <div>
                    <label id="valid_register_Caste"><b>Caste</b></label>
                    <input type="text" onmousedown="autoSuggestRegisterCaste()" onchange="resetReligionLowerDetailsIfChanged(1)" placeholder="Caste" id="register_Caste" name="0" style="border-top: 0px; border-left: 0px; border-right: 0px;"  required  >
                </div>
                <div>
                    <label id="valid_register_SubCaste"><b>Sub Caste</b></label>
                    <input type="text" onmousedown="autoSuggestRegisterSubCaste()"  onchange="resetReligionLowerDetailsIfChanged(0)" placeholder="Sub Caste" id="register_SubCaste" name="0" style="border-top: 0px; border-left: 0px; border-right: 0px;"  required  >
                </div>
            </div>
        </div>
        <button type="button" onclick="ToppleTheRegisterDiv('4', 'Address')" class="Registercollapsible"><div id="RegisterDevButtonIcon4"><i class="fa fa-plus" style="font-size:20px;color:white;vertical-align: middle; ">      Address</i></div></button>
        <div class="Registercontent" id="RegisterDevId4">
                <div style="left: 0; top: 0; width: 32%; float: left;">
                    <div>
                        <label><b>House / Locality</b></label>
                    </div>
                    <div>
                        <textarea type="text" rows="8" style="border-top: 0px; border-left: 0px; border-right: 0px; width:100%; resize:none; margin-top:2.5%;" placeholder="House Name / Number / Locality" id="register_Locality" name="register_Locality"  required  ></textarea><div id="valid_register_Locality"></div>
                    </div>
                </div>
                <div style="left: 32%; top: 0; width: 32%; float: left; padding: 0 18px 0 ">
                    <div>
                        <label id="valid_register_State"><b>State</b></label>
                        <input type="text" placeholder="State" id="register_State" name="0" onmousedown="autoSuggestRegisterState()"  onchange="resetAddressLowerDetailsIfChanged(3)" style="border-top: 0px; border-left: 0px; border-right: 0px;" required  >
                        <label id="valid_register_District"><b>District</b></label>
                        <input type="text" placeholder="District" id="register_District" name="0" onmousedown="autoSuggestRegisterDistrict()"  onchange="resetAddressLowerDetailsIfChanged(2)" style="border-top: 0px; border-left: 0px; border-right: 0px;" required  >
                    </div>
                </div>
                <div style="left: 65%; top: 0; width: 31%; float: left;">
                    <div>
                        <label id="valid_register_Tehsil"><b>SubDistrict/Tehsil/City</b></label>
                        <input type="text" placeholder="SubDistrict/Tehsil/City" id="register_Tehsil" name="0" onmousedown="autoSuggestRegisterTehsil()" onchange="resetAddressLowerDetailsIfChanged(1)"  style="border-top: 0px; border-left: 0px; border-right: 0px;" required  >
                        <label id="valid_register_Village"><b>Village/Town</b></label>
                        <input type="text" placeholder="Village/Town" id="register_Village" name="0" onmousedown="autoSuggestRegisterVillage()" onchange="resetAddressLowerDetailsIfChanged(0)" style="border-top: 0px; border-left: 0px; border-right: 0px;"  required  >
                    </div>
                </div>
            </div>

        <div class="Registercontainer">
            <button onclick="RegisterSubmitButton()" style="font-size:20px;"><i class="fa fa-pencil-square-o" style="font-size:18px;"></i>  Register</button>
            <div id="loading_register" style="z-index: 1;  width: 50%; height: 50%;"></div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('register').style.display='none'"  class="cancelbtn">Cancel</button>
        </div>
    </div>
</div>

<div id="search" class="modal">
    <div class="modal-content animate">
        <div class="imgcontainer">
            <span class="close" onclick="document.getElementById('search').style.display='none'"  title="Close Modal">&times;</span>
            <img style="width: 10%;" src="images/logo1.png" alt="SubStation" class="avatar">
        </div>

        <div class="container">
            <div class="container">
                <div style="column-count: 3; ">
                    <div>
                        <label id="valid_search_State"><b>State</b></label>
                        <input type="text" placeholder="State" id="search_State" name="search_State"  required  >
                        <label id="valid_search_District" ><b>District</b></label>
                        <input type="text" placeholder="District" id="search_District" name="search_District"  onchange="onchangeAutoSuggestDistrict('search_District', 'search_State')"  >
                        <label id="valid_search_Village" ><b>Village/Town</b></label>
                        <input type="text" placeholder="Village/Town" id="search_Village" name="search_Village"  onchange="onchangeAutoSuggestVillage('search_Village', 'search_District', 'search_State')"  >
                    </div>
                </div>
                <div>
                    <label id="valid_search_Name"><b>Name *</b></label>
                    <input type="text" placeholder="Name" id="search_Name" name="search_Name"  style="float:center;"  >
                </div>
            </div>
            <button onclick="showCookies()"><h3 style="font-size:14px;">Search User <i class="fa fa-search" style="font-size:14px;"></i></h3></button>
            <div id="loading_search" style="z-index: 1000;  width: 30%; height: 10%; margin-left: 45%; "></div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('search').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </div>
</div>

<div id="RegistredSuccessful" class="modal">
    <div class="modal-content-RegistredSuccessful animate">
        <div style="width : 100%; height:30%; text-align : center;">
            <p style="font-size:20px;">Congratulations !!!</p>
            <p style="font-size:20px;">Welcome to</p>
            <p><b style="font-size:26px;">Pariwar</b></p>
        </div>
        <div style="width : 100%; height:15%; text-align : center;">
            <br>
            <p style="font-size:18px;" id="username_RegistredSuccessful"></p>
        </div>
        <div style="width : 100%; height:15%; text-align : center;">
            <p style="font-size:18px; color : Green;"><b>Created Successfully</b></p>
        </div>
        <div style="width : 100%; height:15%;">
            <button style="margin: 0 auto auto 40%; width : 20%;" onclick="location.replace('http://localhost:8081');">OK</button>
        </div>

    </div>
</div>


</body>
</html>
